body{
    margin:0;
    padding:0;
    font-family: Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {  
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #DDD; 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #CCC; 
}

#messages {
    overflow: hidden;
    border-bottom: 1px solid #FFF;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 52px;
    margin: 0;
}
#one-message {
    font-size: 12px;
    overflow: hidden;
    padding: 8px;
}
.reciver .profile-image {
    float: left;
}
.sender .profile-image {
    float: right;
}
.reciver .profile-image,
.sender .profile-image{
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 100%;
    background: rgb(0, 169, 143);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.reciver .profile-image img {
    border: 0;
}
.sender .profile-image img, 
.reciver .profile-image img {
    width: 100%;
}



.reciver .message-container {
    float: left;
}

.sender .message-container {
    float: right;
}
.reciver .message-container,
.sender .message-container {
    max-width: 450px;
    margin-bottom: 2px;
    padding: 0 8px;
    font-size: 16px;
    font-weight: 400;
}

.reciver .message-container p,
.sender .message-container p  {
    color: rgb(255, 255, 255);
    background: #00a98f;
    margin: 0;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 20px;
    line-height: 1;
}

.reciver .date {
    float: right;
}

.sender .date {
    float: left;
}
.reciver .date,
.sender .date{
    color: #ccc;
    font-size: 12px;
    margin-top: 4px;
    overflow: hidden;
    height: 0;
    transition: .2s ease-out;
}


.reciver .date.active,
.sender .date.active{
    height: 15px;
}

.message-container span ._username {
    font-family: arial;
    font-size: 12px;
    font-weight: 900;
    color: rgb(0, 169, 143);
}

.reciver .message-container span, 
.sender .message-container span {
    margin-bottom: 5px;
    display: block;
}




.chat-text-input{
    width: 90%;
    height: 50px;
    margin: 0;
    float: left;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
    border: 0;
}
#chat-input {
    -webkit-transition:0.4s;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 15px;
    height: 100px;
    box-sizing: border-box;
    background: rgb(243, 243, 243);
    border-top: 1px solid rgb(214, 214, 214);
}
.chat-text-input:focus {
    outline: 1px;
}
#chat-input button {
    border: 0;
    border-radius: 100%;
    background: rgb(0, 136, 115);
    color: white;
    padding: 11px;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
}

.conversations-container {
    height: calc(100vh - 100px);
}

.message.reciver .opening-message .message-container p {
    border-top-left-radius: 2px;
}

.message.sender .opening-message .message-container p {
    border-top-right-radius: 0px;
}

.message.sender .message-container span {
    text-align: right;
}

#chat-input form {
    position: relative;
    width: 100%;
    background: white;
    border: 1px solid rgb(214, 214, 214);
    box-sizing: border-box;
    display: block;
    overflow: hidden;
}

.pickusername {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 2em;
    background: white;
    z-index: 1;
}

.pickusername .pickusername-field {
    width: 100%;
    font-size: 32px;
    font-weight: 200;
    text-align: center;
    color: grey;
    margin: auto;
    padding: 15px 5px;
    outline: none;
    border: 0;
    border-bottom: 1px solid rgb(232, 232, 232);
}


@media all and (max-width:525px){
    .reciver .message-container, .sender .message-container{
        max-width: calc(100% - 55px);
    }
}